.modal-header, .modal-footer {
    border: none;
    background: #f8f9fa;
}

.modal-title {
    color: #28a745;
    font-weight: bold;
}

.form-label {
    color: #495057;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group .form-control {
    border-right: none;
}

.input-group .form-control:focus {
    box-shadow: none;
}

.input-group .btn {
    background-color: #28a745;
    border: none;
    color: white;
    transition: background-color 0.3s ease;
}

.input-group .btn:hover {
    background-color: #218838;
}

#send-tempPassword {
    display: block;
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    transition: color 0.3s ease;
}

#send-tempPassword:hover {
    color: #218838;
}

.modal {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
