.custom-navbar {
    background-color: transparent !important;
    font-weight: bold !important;
    color: black !important;
    height: 75px; /* 헤더의 세로 크기 조정 */
    display: flex;
    align-items: center;
}

#searchButton {
    color: black !important;
    font-weight: bold;
}
