.ui.comments {
    width: 100%;
    max-width: none;
}

.custom-link {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 링크 색상 기본 텍스트 색상과 동일하게 */
}

.custom-link:hover {
    text-decoration: none; /* 마우스를 올렸을 때 밑줄 표시 */
    color: blue; /* 마우스를 올렸을 때 텍스트 색상 변경, 필요에 따라 변경 가능 */
}