.message-outgoing {
   text-align: right !important;
   padding: 6px !important;
}

.message-incoming {
   text-align: left !important;
   padding: 6px !important;
}

/* 채팅 컨테이너 전체 스타일 */
.chat-container {
   display: flex;
   flex-direction: column;
   height: 100%;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* 채팅방 헤더 */
.chat-header {
   padding: 10px 20px;
   text-align: center;
}

/* 메시지 리스트 스타일 */
.message-list {
   flex-grow: 1;
   overflow-y: auto;
   padding: 20px;
   background: white;
}
